<div class="register-container">
  <p-toast position="top-right"></p-toast>
  <p-card>
    <ng-template pTemplate="header">
      <div class="register-header-circle">
        <div class="register-icon-circle">
          <i class="pi pi-user register-icon"></i>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="title">
      <div class="register-title">Registro</div>
    </ng-template>

    <div class="register-fields" *ngIf="!qrCode">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-user"></i>
        </p-inputgroup-addon>
        <input pInputText [(ngModel)]="username" placeholder="Nombre de usuario" />
      </p-inputgroup>

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-lock"></i>
        </p-inputgroup-addon>
        <input pInputText type="password" [(ngModel)]="password" placeholder="Contraseña" />
      </p-inputgroup>

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-lock"></i>
        </p-inputgroup-addon>
        <input pInputText type="password" [(ngModel)]="confirmPassword" placeholder="Confirmar Contraseña" />
      </p-inputgroup>
    </div>

    <div class="register-fields" *ngIf="qrCode">
      <div class="register-label">Escanea este código QR con tu app de autenticación</div>
      <img [src]="qrCode" alt="Código QR para MFA" class="register-qr" />
      <div class="register-label">O ingresa este secreto manualmente: {{ secret }}</div>
    </div>

    <ng-template pTemplate="footer">
      <div class="register-buttons">
        <p-button
          label="Iniciar Sesión"
          severity="secondary"
          styleClass="w-full"
          routerLink="/auth/login"
        ></p-button>
        <p-button
          *ngIf="!qrCode"
          (click)="register()"
          label="Registrarse"
          severity="secondary"
          styleClass="w-full"
        ></p-button>
        <p-button
          *ngIf="qrCode"
          label="Continuar"
          severity="info"
          styleClass="w-full"
          routerLink="/auth/login"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
