<div class="header-container">
  <div class="header-left">
    <h1 class="header-title">{{ headerTitle }}</h1>
  </div>
  <div class="header-right">
    <button pButton pRipple type="button" icon="pi pi-plus" label="Add Task" (click)="addTask()" class="p-button-info p-button-rounded" aria-label="Add new task"></button>
    <button pButton pRipple type="button" icon="pi pi-sign-out" label="Logout" (click)="logout()" class="p-button-danger p-button-rounded" aria-label="Logout"></button>
  </div>
</div>
